.flexbox-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    max-width: 900px;
    margin: auto;
}

header, main, footer {
    padding: 40px;
}

header {
    background-color: black;
    color: white;
}

main {
    flex-grow: 1;
    background-color: yellow;
}

footer {
    background-color: orange;
    text-align: center;
}