.wrapper {
	max-width: 940px;
	margin: 40px auto 40px auto;
	display: flex;
	flex-wrap: wrap;
}

/*########### header ############*/

.page-header {
	width: 100%;
	background-color: #74a377;
	color: white;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.page-name {
	padding: 20px;
}

.page-name h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.page-name h3 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.page-nav {
	padding: 20px;
}

.page-nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: flex;
}

.page-nav ul li a {
	display: block;
	padding: 20px;
	color: white;
	background-color: #d48383;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

/*########### main ############*/

.page-main {
	width: 66.666%;
}

.page-main-no-sidebar {
	width: 100%;
}

.section-name {
	width: 100%;
	color: white;
}

.section-title {
	text-align: center;
}

.section-subtitle {
	text-align: center;
}

.single-page-container {
	background-color: #eac940;
	padding: 20px;
}

.single-entry {
	
}

.news-container {
	background-color: #d48383;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.news {
	width: 50%;
	padding: 20px;
}

.news-inside-box {
	background-color: #eac940;
	display: block;
	padding: 20px;
	height: 100%;
	text-decoration: none;
	color: black;
}

.news-inside-box img {
	width: 100%;
	height: auto;
}

/*########### aside ############*/

.page-aside {
	width: 33.333%;
}

.aside-inside-box {
	width: 100%;
	height: 100%;
	padding: 40px;
	background-color: #eac940;
}

.widget {
	background-color: white;
	padding: 20px;
}

/*########### footer ############*/

.page-footer {
	width: 100%;
	padding: 20px;
	background-color: #74a377;
	color: white;
	text-align: center;
}



/* Medie Queries */

@media screen and (max-width: 800px) {
	.news {
		width: 100%;
	}

	.page-main {
		width: 100%;
	}

	.page-aside {
		width: 100%;
	}
}

@media print {
	* {
		color: black!important;
		background: none!important;
	}
}