body {
  padding: 40px;
}

.card {
  background-color: rgb(228, 228, 228);
  border: 1px solid black;
  padding: 40px;
  margin: 20px auto;
  max-width: 1200px;
}

.menu-1 li:first-child a,
.menu-1 li:last-child a {
  color: red;
}

.menu-2 li:nth-child(3) a {
  color: red;
}

.menu-3 li:first-child a:active {
  color: green;
}

.active li:first-child a {
  color: red;
}
.menu-4 li:hover a {
  color: orange;
  transition: all 0.3s ease-out;
}

.menu-5 li > ul {
  display: none;
}
.menu-5 li:hover > ul {
  display: block;
}

.members th,
.members td {
  padding: 20px;
  border: 2px solid black;
}

.members th {
  background-color: black;
  color: white;
}

/* odd - nieparzyste */
.members tr:nth-child(odd) {
  background-color: pink;
}
/* even - parzyste */
.members tr:nth-child(even) {
  background-color: yellow;
}

.gallery a {
  display: inline-block;
}

.gallery img {
  max-width: 150px;
  display: block;
}

.gallery [title="powiększ obrazek"] {
  border: red 3px solid;
  opacity: 0.5;
}

.buttons button:not([class="is-disabled"]){
   background-color: blue;
   color: whitesmoke;
}

.archive a::before {
   content: "Archiwum :";

}
a:hover {
   color: red;
}

/* stylowanie formularza */

.form input {
   border: 0px solid red;
   outline: 0px solid red;
   margin-bottom: 5px;
   padding: 10px;
}

.form .form-error {
   color: red;
   display: none;
}

.form input:invalid + .form-error {
   display: block;
}

.form input:invalid {
   border: 2px solid red;
}
.form input:valid {
   border: 2px solid green;
}

.form input:placeholder-shown {
   border: 2px solid gray;
}

.form input:focus {
   border: 2px solid orange;
   background-color: yellow;
}

.form input:placeholder-shown + .form-error {
   display: none;
}

#first-name {
   /* color: blue; */
   width: 100%;
}
#last-name {
/* color:red; */
width: 100%;
}
.form>div>button {
width: 100%;
background-color:black;
color: yellowgreen;
font-size: 2rem;
padding: 10px 10px ;
}