/* sizes em rem px/
em = 16px

em jest dziedziczone -> jesli rodzic ma 2em , dziecko rowniez,
wiec jesli dziecko dostanie 2em będzie miał 4em

rem jesli element bedzie mial size 2rem 

/sizes em rem px END*/

/* import fonts */
@font-face {
  font-family: "Lato-Light";
  src: url("/HTML CSS/fonts/Lato/Lato-Light.ttf");
}
@font-face {
  font-family: "Calistoga";
  src: url("/HTML CSS/fonts/Calistoga/Calistoga-Regular.ttf");
}
/* import fonts end */

/* boady header */

/* body>header.page-header{
    text-align: center;
    display:flex;
    justify-content: space-around;
} */
/* global styles */
html {
  font-size: 0.5rem;
}
/* body style */
body {
    -webkit-box-shadow: 0px 0px 27px 0px rgba(163,109,10,1);
    -moz-box-shadow: 0px 0px 27px 0px rgba(163,109,10,1);
    box-shadow: 0px 0px 27px 0px rgba(163, 109, 10, 1);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    background-image: url("../images/pattern.jpg");
    background-attachment: fixed;
  }
body > header.page-header {
  text-align: center;
}

/* boady header end*/

/* every image on page */
img {
  max-width: 100%;
  height: auto;
}
/* every image on page end */
.half-width {
  display: flex;
  width: 100%;
}
/* font awsome style */
i {
  color: orange;
}
/* font awsome style */
/* font awsome style */
.fa-cat {
  font-size: 2em;
}
/* font awsome style */


article {
  font-family: "Lato-Light";
}

aside {
  font-family: "Lato-Light";
}

article {
  font-family: "Lato-Light";
  /* font-size: 2em; */
}

footer {
  font-family: "Lato-Light";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Calistoga";
  color: orange;
}
/* body style end */

.page-header,
.page-main,
.page-aside,
.page-footer {
  padding: 40px;
  border: 1px solid orange;
  margin: 40px 10px;
  background-color: blanchedalmond;
}

h2::after {
  font-family: "Font Awsome 5 Free";
  content: "/f6be";
}

@media (min-width: 581px) {
  html {
    font-size: 1rem;
  }
  body {
    box-shadow: 0px 0px 27px 0px rgba(163, 109, 10, 1);
    background-image: url("../images/pattern.jpg");
    background-attachment: fixed;
  }
  .page-header,
  .page-main,
  .page-aside,
  .page-footer {
    background-color: blanchedalmond;
    margin: 40px auto;
  }
  .half-width {
    float: right;
    width: 50%;
    margin-left: 20px;
  }
}
