.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  text-align: center;
  margin: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
header, main, footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
header {
  background-color: black;
  color: whitesmoke;
}
main {
  background-color: yellow;
  color: blue;
  flex-grow: 1;
}
footer {
  background-color: orange;
  color: whitesmoke;
}


/* 
@media (min-width: 581px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
  }
  header,
  main,
  footer {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }
  header {
    background-color: black;
    color: whitesmoke;
  }
  main {
    background-color: yellow;
    color: blue;
    flex-grow: 1;
  }
  footer {
    background-color: orange;
    color: whitesmoke;
  }
  
} */