/* * {
  outline: red 3px dotted;
} */

body {
  background-color: rgb(218, 218, 218);
  border: black 3px solid;
}

.flexbox-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  
  /* padding: 0px; */
}
.popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 90%;
  max-width: 1360px;
  border: black 3px solid;
  padding: 50px;
  background-color: rgb(206, 161, 161);
}
.popup-item {
  padding: 20px;
  max-width: 400px;
  
  background-color: rgb(0, 0, 250);
}

.popup-inside {
  padding: 40px;
  max-width: 350px;
  background-color: rgb(128, 128, 138);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.popup-image {
  width: 100%;
  margin-bottom: auto;
  height: auto;
}
.popup-text {
  flex-grow: 1;
}
.popup-button {
  display: block;
  margin-top: 50px;
  padding: 20px 40px;
  background-color: rgb(41, 80, 1);
  color: white;
  font-weight: bold;
  border-radius: 30px;
}
