.flexbox-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.popup {
    width: 80%;
    max-width: 1000px;
    border: 3px solid black;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.popup-item {
    padding: 20px;
    max-width: 480px;
}

.popup-inside {
    padding: 40px;
    max-width: 300px;
    background-color: rgb(201, 201, 201);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.popup-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.popup-text {
    flex-grow: 1;
}

.popup-button {
    display: block;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}