.flexbox-container {
    border: 10px solid red;
    min-height: 100vh;
    display: flex;
}

article {
    padding: 20px;
    width: 200px;
}

.article-yellow {
    background-color: rgb(252, 252, 160);
}

.article-blue {
    background-color: rgb(159, 206, 238);
}

.article-green {
    background-color: rgb(157, 245, 176);
}

.article-pink {
    background-color: rgb(250, 169, 230);
}