html {
	background-color: grey;
}

body {
	max-width: 800px;
	padding: 40px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: underline;
}

/* NAGŁÓWEK */

.page-header {
	background: black;
	color: white;
	width: 100%;
}

.page-header h1 {
	text-align: center;
	padding: 40px;
	margin: 0px;
}

/* CZĘŚĆ GŁÓWNA */

main {
	width: 65%;
	background-color: white;
	padding: 40px;
}

img {
	max-width: 100%;
}

nav {
	padding: 0px;
	background-color: orange;
	height: 100%;
}

/* PANEL BOCZNY */

aside {
	width: 35%;
}

.menu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding: 20px;
}

.menu li {
	margin-bottom: 5px;
}

.menu a {
	display: block;
	padding: 20px 20px;
	color: black;
	background-color: #c78100;
}

/* STOPKA */

footer {
	background-color: black;
	color: white;
	padding: 40px;
	width: 100%;
	text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
	main, aside {
		width: 100%;
	}
}