body {
   padding: 40px;
}

.card {
   background-color: rgb(228, 228, 228);
   border: 1px solid black;
   padding: 40px;
   margin: 20px auto;
   max-width: 1200px;
}

.menu-1 li:first-child a, .menu-1 li:last-child a {
   color: red;
}

.menu-2 li:nth-child(3) a {
   color: red;
}

.active a {
   color: green;
}

.menu-4 li a:hover {
   color: orange;
}

.menu-5 ul {
   display: none;
}

.menu-5 li:hover > ul {
   display: block;
}

.members th, .members td {
   padding: 20px;
   border: 2px solid black;
}

.members thead {
   background-color: black;
   color: white;
}

.members tbody tr:nth-child(odd) {
   background-color: green;
}

.members tbody tr:nth-child(even) {
   background-color: red;
}

.gallery img {
   max-width: 200px;
}

.gallery a {
   display: inline-block;
}

.gallery a[title="treść"] {
   border: 1px solid red;
   opacity: 0.5;
}

.buttons button:not([class="is-disabled"]) {
   background-color: blue;
}

.archive a:before {
   content: "Archiwum: ";
   font-weight: bold;
   color: black;
}

.archive a:hover {
   color: red;
}

/* stylowanie formularza */

.form .form-error {
   color: red;
   display: none;
}

.form input {
   margin-bottom: 3px;
}

.form input:invalid + .form-error{
   display: block;
}

.form input:placeholder-shown + .form-error {
   display: none;
}

.form input:focus {
   outline: 1px solid orange;
   background-color: yellow;
}

.form input:valid {
   outline: 1px solid green;
}

.form input:invalid {
   outline: 1px solid red;
}

.form input:placeholder-shown {
   outline: 1px solid grey;
}

.form button {
   background-color: orange;
   color: white;
   border-radius: 10px;
   border: 0;
   padding: 5px 20px;
   margin-top: 5px;
}